In [ ]:
import pandas as pd

In [ ]:
nba = pd.read_csv("nba.csv")
type(nba)

### Shared Methods

In [ ]:
nba.head()

In [ ]:
nba.tail()

### Shared Attributes

In [ ]:
nba.index

In [ ]:
nba.values

In [ ]:
nba.shape

In [ ]:
nba.dtypes

### Attributes and Methods present only in  DataFrames

In [ ]:
nba.columns

In [ ]:
nba.info()

In [ ]:
nba.get_dtype_counts()

In [ ]:
nba.head()

### Differences between Shared Methods

In [ ]:
revenue = pd.read_csv("revenue.csv",index_col=["Date"])

In [ ]:
revenue.head()

In [ ]:
s = pd.Series([1,2,3])

In [ ]:
s

In [ ]:
s.sum()

In [ ]:
revenue.sum()

In [ ]:
revenue.sum(axis=0)

In [ ]:
revenue.sum(axis="index")

In [ ]:
revenue.sum(axis=1)

In [ ]:
revenue.sum(axis="columns")

# Exploring DataFrame in detail

### Select One column from a DataFrame

In [ ]:
nba = pd.read_csv("nba.csv")

In [ ]:
nba.head()

In [ ]:
nba.Name

Output = None

In [ ]:
# Recommended way to select column
nba["Name"]

In [ ]:
type(nba["Name"])

In [ ]:
nba[["Name","Team"]]

In [ ]:
nba[["Name","Team"]].head()

In [ ]:
type(nba[["Name","Team"]])

### Adding a column

In [ ]:
nba.head()

In [ ]:
nba["Sport"] = "Basketball"

In [ ]:
nba.head(2)

In [ ]:
# Other way to add column
nba = pd.read_csv("nba.csv")

In [ ]:
nba.insert(3,column="Sport",value="Basketball")

In [ ]:
nba

### Broadcasting Operations

In [ ]:
nba = pd.read_csv("nba.csv")

In [ ]:
nba.head()

In [ ]:
nba["Age"].add(5)
nba["Age"]+5

In [ ]:
nba["Weight in Kilograms"] = nba["Weight"] * 0.45

In [ ]:
nba.head()

In [ ]:
nba["Salary in millions"]= nba["Salary"].div(1000000)

In [ ]:
nba.head()

### Exploring .value_counts() Method

##### Finding the frequency of team popularity

In [ ]:
nba["Team"].value_counts().head(1)

# Handling Missing Data

In [ ]:
nba.head(10).head(10)

In [ ]:
nba.dropna().head(10)

In [ ]:
nba.tail(5)

In [ ]:
nba.dropna(how="any").tail(5)

In [ ]:
nba.head(5)

In [ ]:
nba.dropna(subset=["Salary"])

In [31]:
nba.head(5)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary,Weight in Kilograms,Salary in millions
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0,81.00,7.730337
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0,105.75,6.796117
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN,92.25,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0,83.25,1.148640
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0,103.95,5.000000

In [32]:
nba.fillna("NULL IN SOURCE").head(5)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary,Weight in Kilograms,Salary in millions
0,Avery Bradley,Boston Celtics,0,PG,25,6-2,180,Texas,7.73034e+06,81,7.73034
1,Jae Crowder,Boston Celtics,99,SF,25,6-6,235,Marquette,6.79612e+06,105.75,6.79612
2,John Holland,Boston Celtics,30,SG,27,6-5,205,Boston University,NULL IN SOURCE,92.25,NULL IN SOURCE
3,R.J. Hunter,Boston Celtics,28,SG,22,6-5,185,Georgia State,1.14864e+06,83.25,1.14864
4,Jonas Jerebko,Boston Celtics,8,PF,29,6-10,231,NULL IN SOURCE,5e+06,103.95,5

In [33]:
nba["Salary"].fillna(0).head(5)

0    7730337.0
1    6796117.0
2          0.0
3    1148640.0
4    5000000.0
Name: Salary, dtype: float64

### astype () method

In [50]:
nba["Salary"].astype('float64').astype('int')

ValueError: Cannot convert non-finite values (NA or inf) to integer