### Importing Pandas

In [1]:
import pandas as pd

In [17]:
df = pd.read_csv("weather_data.csv")

In [8]:
# Display the content of DataFrame
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [18]:
type(df)

pandas.core.frame.DataFrame

In [14]:
# Importing specific columns
pd.read_csv("weather_data.csv",usecols=["day"],squeeze=True)

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

#### [Activity] - Create above DataFrame using Python Dictitionary

In [9]:
df.shape

(6, 4)

In [11]:
(rows,cols) = df.shape

In [12]:
rows

6

#### Printing few rows

In [15]:

df.head(2)

0    1/1/2017
1    1/2/2017
Name: day, dtype: object

#### Printing last few rows

In [ ]:

df.tail(3)

#### Slicing the data frame

In [ ]:

df[1:3]

#### Printing columns

In [ ]:
df.columns

In [ ]:
df['day']

In [ ]:
df[['day','temperature']]

#### Pritning type of the column

In [ ]:
type(df['event'])

#### Maximum temperature in the given dataset

In [13]:
df['temperature'].max()

35

#### Conditional select

In [14]:
df[df['temperature']>32]

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny

In [15]:
df['day'][df['temperature'] == df['temperature'].max()] # Kinda doing SQL in pandas

1    1/2/2017
Name: day, dtype: object

In [16]:
df[df['temperature'] == df['temperature'].max()] # Kinda doing SQL in pandas

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny

#### Select 'day' and 'event' column whose 'temperature' is maximum

In [17]:
df[['day','temperature']][df['temperature'] == df['temperature'].max()] # Kinda doing SQL in pandas

        day  temperature
1  1/2/2017           35

### Indexes

In [18]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [20]:
df

          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4   Rain
1/6/2017           31          2  Sunny

#### Changing index

In [19]:
# df.set_index('day')
df.set_index('day',inplace=True)

In [21]:
df.loc['1/1/2017']

temperature      32
windspeed         6
event          Rain
Name: 1/1/2017, dtype: object

#### Reset the index

In [ ]:
df.reset_index(inplace=True)

In [ ]:
df