<a href="https://colab.research.google.com/github/npntraining/data-science-masters-program/blob/master/D%3A%5CMyRepos%5Cgithub%5Cdata-science-masters-program%5CExploratory%20Data%20Analysis%20and%20Data%20Visualization%5CData%20Analysis%20Using%20Pandas%5CStatistics%5CData%20Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Descriptive Statistics

MEAN

1.   Mean is described as the arithmetic average of all the data points
2.   It can be calculated for both discrete and continous variables.

Formula:
        Mean = Sum of all points / Total number of points

In [1]:
import numpy as np
my_list = [1,2,4,5,8,8,6,7,5,7,8,9]

def get_mean(list):
  return sum(list)/len(list)*1.0

get_mean(my_list)

5.833333333333333

How Mean is affected with extreme data points

In [4]:
my_list = [1,2,4,5,8,8,6,7,5,7,8,9,100]
get_mean(my_list)

19.285714285714285

**Median**

1.   It is described as the middle value in a sequence of data points ordered by rank
2.   Unlike Mean, it is not affected by extreme points.

In [7]:
my_list = [1,2,4,5,8,8,6,7,5,7,8,9]
np.median(my_list)

6.5

In [8]:
my_list.append(100)
np.median(my_list)

7.0

**Mode**


1.   It is described as the data point(s) with the highest frequency.

In [11]:
from scipy.stats import mode
mode(my_list)

ModeResult(mode=array([8]), count=array([3]))

In [13]:
my_list_str=['a','b','c','d','e','e','f','f']
mode(my_list_str)

ModeResult(mode=array(['e'], dtype='<U1'), count=array([2]))

# Variance and Standard Deviation

# Visualizing Statistical Measures

# Calculaint Percentiles

# Quartiles and Box Plots