# Series
A Series is very similar to a NumPy array (in fact it is built on top of the NumPy array object). What differentiates the NumPy array from a Series, is that a Series can have axis labels, meaning it can be indexed by a label, instead of just a number location. It also doesn't need to hold numeric data, it can hold any arbitrary Python Object.

# Different ways to create Series Data structure

In [2]:
import numpy as np
import pandas as pd

### 1. Creating Series using Python Dictionary

In [3]:
dict= {"India":100,"Japan":90,"China":80}

In [4]:
pd.Series(dict)

India    100
Japan     90
China     80
dtype: int64

### 2. From a single scalar value

In [5]:
my_data = [10,20,30]

In [6]:
s = pd.Series(data=my_data)

In [7]:
s

0    10
1    20
2    30
dtype: int64

In [8]:
labels = ["India","China","Japan"]
s = pd.Series(data=my_data,index=labels)

### 3. From Numpy Array

In [9]:
labels = ["India","Japan","China"]
my_data = [10,20,30]
arr = np.array(my_data)
pd.Series(arr,labels)

India    10
Japan    20
China    30
dtype: int32

## Indexes
The key to using a Series is understanding its index. Pandas makes use of these index names or numbers by allowing for fast look ups of information (works like a hash table or dictionary).

In [20]:
ser1 = pd.Series([1,2,3,4],index = ['USA', 'Germany','USSR', 'Japan'])

In [21]:
ser1['USA']

1

# Parameters and Arguments

In [44]:
labels = ["India","Japan","China"]
my_data = [10,20,30]

In [47]:
s = pd.Series(data=my_data,index=labels)

In [48]:
s

India    10
China    20
Japan    30
dtype: int64

In [10]:
weather_data_series = pd.read_csv("weather_data.csv",usecols=["event"],squeeze=True)

In [11]:
type(weather_data_series)

pandas.core.series.Series

# Exploring Series Attributes

In [1]:
pokemon = pd.read_csv("pokemon.csv",usecols=["Pokemon"],squeeze=True)
google = pd.read_csv("google_stock_price.csv",squeeze=True)

NameError: name 'pd' is not defined

In [19]:
pokemon.values

array(['Bulbasaur', 'Ivysaur', 'Venusaur', 'Charmander', 'Charmeleon',
       'Charizard', 'Squirtle', 'Wartortle', 'Blastoise', 'Caterpie',
       'Metapod', 'Butterfree', 'Weedle', 'Kakuna', 'Beedrill', 'Pidgey',
       'Pidgeotto', 'Pidgeot', 'Rattata', 'Raticate', 'Spearow', 'Fearow',
       'Ekans', 'Arbok', 'Pikachu', 'Raichu', 'Sandshrew', 'Sandslash',
       'Nidoran', 'Nidorina', 'Nidoqueen', 'Nidoranâ™‚', 'Nidorino',
       'Nidoking', 'Clefairy', 'Clefable', 'Vulpix', 'Ninetales',
       'Jigglypuff', 'Wigglytuff', 'Zubat', 'Golbat', 'Oddish', 'Gloom',
       'Vileplume', 'Paras', 'Parasect', 'Venonat', 'Venomoth', 'Diglett',
       'Dugtrio', 'Meowth', 'Persian', 'Psyduck', 'Golduck', 'Mankey',
       'Primeape', 'Growlithe', 'Arcanine', 'Poliwag', 'Poliwhirl',
       'Poliwrath', 'Abra', 'Kadabra', 'Alakazam', 'Machop', 'Machoke',
       'Machamp', 'Bellsprout', 'Weepinbell', 'Victreebel', 'Tentacool',
       'Tentacruel', 'Geodude', 'Graveler', 'Golem', 'Ponyta', 'Rapidash',
       'Slowpoke', 'Slowbro', 'Magnemite', 'Magneton', "Farfetch'd",
       'Doduo', 'Dodrio', 'Seel', 'Dewgong', 'Grimer', 'Muk', 'Shellder',
       'Cloyster', 'Gastly', 'Haunter', 'Gengar', 'Onix', 'Drowzee',
       'Hypno', 'Krabby', 'Kingler', 'Voltorb', 'Electrode', 'Exeggcute',
       'Exeggutor', 'Cubone', 'Marowak', 'Hitmonlee', 'Hitmonchan',
       'Lickitung', 'Koffing', 'Weezing', 'Rhyhorn', 'Rhydon', 'Chansey',
       'Tangela', 'Kangaskhan', 'Horsea', 'Seadra', 'Goldeen', 'Seaking',
       'Staryu', 'Starmie', 'Mr. Mime', 'Scyther', 'Jynx', 'Electabuzz',
       'Magmar', 'Pinsir', 'Tauros', 'Magikarp', 'Gyarados', 'Lapras',
       'Ditto', 'Eevee', 'Vaporeon', 'Jolteon', 'Flareon', 'Porygon',
       'Omanyte', 'Omastar', 'Kabuto', 'Kabutops', 'Aerodactyl', 'Snorlax',
       'Articuno', 'Zapdos', 'Moltres', 'Dratini', 'Dragonair',
       'Dragonite', 'Mewtwo', 'Mew', 'Chikorita', 'Bayleef', 'Meganium',
       'Cyndaquil', 'Quilava', 'Typhlosion', 'Totodile', 'Croconaw',
       'Feraligatr', 'Sentret', 'Furret', 'Hoothoot', 'Noctowl', 'Ledyba',
       'Ledian', 'Spinarak', 'Ariados', 'Crobat', 'Chinchou', 'Lanturn',
       'Pichu', 'Cleffa', 'Igglybuff', 'Togepi', 'Togetic', 'Natu', 'Xatu',
       'Mareep', 'Flaaffy', 'Ampharos', 'Bellossom', 'Marill', 'Azumarill',
       'Sudowoodo', 'Politoed', 'Hoppip', 'Skiploom', 'Jumpluff', 'Aipom',
       'Sunkern', 'Sunflora', 'Yanma', 'Wooper', 'Quagsire', 'Espeon',
       'Umbreon', 'Murkrow', 'Slowking', 'Misdreavus', 'Unown',
       'Wobbuffet', 'Girafarig', 'Pineco', 'Forretress', 'Dunsparce',
       'Gligar', 'Steelix', 'Snubbull', 'Granbull', 'Qwilfish', 'Scizor',
       'Shuckle', 'Heracross', 'Sneasel', 'Teddiursa', 'Ursaring',
       'Slugma', 'Magcargo', 'Swinub', 'Piloswine', 'Corsola', 'Remoraid',
       'Octillery', 'Delibird', 'Mantine', 'Skarmory', 'Houndour',
       'Houndoom', 'Kingdra', 'Phanpy', 'Donphan', 'Porygon2', 'Stantler',
       'Smeargle', 'Tyrogue', 'Hitmontop', 'Smoochum', 'Elekid', 'Magby',
       'Miltank', 'Blissey', 'Raikou', 'Entei', 'Suicune', 'Larvitar',
       'Pupitar', 'Tyranitar', 'Lugia', 'Ho-oh', 'Celebi', 'Treecko',
       'Grovyle', 'Sceptile', 'Torchic', 'Combusken', 'Blaziken', 'Mudkip',
       'Marshtomp', 'Swampert', 'Poochyena', 'Mightyena', 'Zigzagoon',
       'Linoone', 'Wurmple', 'Silcoon', 'Beautifly', 'Cascoon', 'Dustox',
       'Lotad', 'Lombre', 'Ludicolo', 'Seedot', 'Nuzleaf', 'Shiftry',
       'Taillow', 'Swellow', 'Wingull', 'Pelipper', 'Ralts', 'Kirlia',
       'Gardevoir', 'Surskit', 'Masquerain', 'Shroomish', 'Breloom',
       'Slakoth', 'Vigoroth', 'Slaking', 'Nincada', 'Ninjask', 'Shedinja',
       'Whismur', 'Loudred', 'Exploud', 'Makuhita', 'Hariyama', 'Azurill',
       'Nosepass', 'Skitty', 'Delcatty', 'Sableye', 'Mawile', 'Aron',
       'Lairon', 'Aggron', 'Meditite', 'Medicham', 'Electrike',
       'Manectric', 'Plusle', 'Minun', 'Volbeat', 'Illumise', 'Roselia',
       'Gulpin', 'Swalot', 'Carvanha', 'Sharpedo', 'Wailmer', 'Wailord',
       'Numel', 'Camerupt', 'Torkoal', 'Spoink', 'Grumpig', 'Spinda',
       'Trapinch', 'Vibrava', 'Flygon', 'Cacnea', 'Cacturne', 'Swablu',
       'Altaria', 'Zangoose', 'Seviper', 'Lunatone', 'Solrock', 'Barboach',
       'Whiscash', 'Corphish', 'Crawdaunt', 'Baltoy', 'Claydol', 'Lileep',
       'Cradily', 'Anorith', 'Armaldo', 'Feebas', 'Milotic', 'Castform',
       'Kecleon', 'Shuppet', 'Banette', 'Duskull', 'Dusclops', 'Tropius',
       'Chimecho', 'Absol', 'Wynaut', 'Snorunt', 'Glalie', 'Spheal',
       'Sealeo', 'Walrein', 'Clamperl', 'Huntail', 'Gorebyss', 'Relicanth',
       'Luvdisc', 'Bagon', 'Shelgon', 'Salamence', 'Beldum', 'Metang',
       'Metagross', 'Regirock', 'Regice', 'Registeel', 'Latias', 'Latios',
       'Kyogre', 'Groudon', 'Rayquaza', 'Jirachi', 'Deoxys', 'Turtwig',
       'Grotle', 'Torterra', 'Chimchar', 'Monferno', 'Infernape', 'Piplup',
       'Prinplup', 'Empoleon', 'Starly', 'Staravia', 'Staraptor', 'Bidoof',
       'Bibarel', 'Kricketot', 'Kricketune', 'Shinx', 'Luxio', 'Luxray',
       'Budew', 'Roserade', 'Cranidos', 'Rampardos', 'Shieldon',
       'Bastiodon', 'Burmy', 'Wormadam', 'Mothim', 'Combee', 'Vespiquen',
       'Pachirisu', 'Buizel', 'Floatzel', 'Cherubi', 'Cherrim', 'Shellos',
       'Gastrodon', 'Ambipom', 'Drifloon', 'Drifblim', 'Buneary',
       'Lopunny', 'Mismagius', 'Honchkrow', 'Glameow', 'Purugly',
       'Chingling', 'Stunky', 'Skuntank', 'Bronzor', 'Bronzong', 'Bonsly',
       'Mime Jr.', 'Happiny', 'Chatot', 'Spiritomb', 'Gible', 'Gabite',
       'Garchomp', 'Munchlax', 'Riolu', 'Lucario', 'Hippopotas',
       'Hippowdon', 'Skorupi', 'Drapion', 'Croagunk', 'Toxicroak',
       'Carnivine', 'Finneon', 'Lumineon', 'Mantyke', 'Snover',
       'Abomasnow', 'Weavile', 'Magnezone', 'Lickilicky', 'Rhyperior',
       'Tangrowth', 'Electivire', 'Magmortar', 'Togekiss', 'Yanmega',
       'Leafeon', 'Glaceon', 'Gliscor', 'Mamoswine', 'Porygon-Z',
       'Gallade', 'Probopass', 'Dusknoir', 'Froslass', 'Rotom', 'Uxie',
       'Mesprit', 'Azelf', 'Dialga', 'Palkia', 'Heatran', 'Regigigas',
       'Giratina', 'Cresselia', 'Phione', 'Manaphy', 'Darkrai', 'Shaymin',
       'Arceus', 'Victini', 'Snivy', 'Servine', 'Serperior', 'Tepig',
       'Pignite', 'Emboar', 'Oshawott', 'Dewott', 'Samurott', 'Patrat',
       'Watchog', 'Lillipup', 'Herdier', 'Stoutland', 'Purrloin',
       'Liepard', 'Pansage', 'Simisage', 'Pansear', 'Simisear', 'Panpour',
       'Simipour', 'Munna', 'Musharna', 'Pidove', 'Tranquill', 'Unfezant',
       'Blitzle', 'Zebstrika', 'Roggenrola', 'Boldore', 'Gigalith',
       'Woobat', 'Swoobat', 'Drilbur', 'Excadrill', 'Audino', 'Timburr',
       'Gurdurr', 'Conkeldurr', 'Tympole', 'Palpitoad', 'Seismitoad',
       'Throh', 'Sawk', 'Sewaddle', 'Swadloon', 'Leavanny', 'Venipede',
       'Whirlipede', 'Scolipede', 'Cottonee', 'Whimsicott', 'Petilil',
       'Lilligant', 'Basculin', 'Sandile', 'Krokorok', 'Krookodile',
       'Darumaka', 'Darmanitan', 'Maractus', 'Dwebble', 'Crustle',
       'Scraggy', 'Scrafty', 'Sigilyph', 'Yamask', 'Cofagrigus',
       'Tirtouga', 'Carracosta', 'Archen', 'Archeops', 'Trubbish',
       'Garbodor', 'Zorua', 'Zoroark', 'Minccino', 'Cinccino', 'Gothita',
       'Gothorita', 'Gothitelle', 'Solosis', 'Duosion', 'Reuniclus',
       'Ducklett', 'Swanna', 'Vanillite', 'Vanillish', 'Vanilluxe',
       'Deerling', 'Sawsbuck', 'Emolga', 'Karrablast', 'Escavalier',
       'Foongus', 'Amoonguss', 'Frillish', 'Jellicent', 'Alomomola',
       'Joltik', 'Galvantula', 'Ferroseed', 'Ferrothorn', 'Klink', 'Klang',
       'Klinklang', 'Tynamo', 'Eelektrik', 'Eelektross', 'Elgyem',
       'Beheeyem', 'Litwick', 'Lampent', 'Chandelure', 'Axew', 'Fraxure',
       'Haxorus', 'Cubchoo', 'Beartic', 'Cryogonal', 'Shelmet', 'Accelgor',
       'Stunfisk', 'Mienfoo', 'Mienshao', 'Druddigon', 'Golett', 'Golurk',
       'Pawniard', 'Bisharp', 'Bouffalant', 'Rufflet', 'Braviary',
       'Vullaby', 'Mandibuzz', 'Heatmor', 'Durant', 'Deino', 'Zweilous',
       'Hydreigon', 'Larvesta', 'Volcarona', 'Cobalion', 'Terrakion',
       'Virizion', 'Tornadus', 'Thundurus', 'Reshiram', 'Zekrom',
       'Landorus', 'Kyurem', 'Keldeo', 'Meloetta', 'Genesect', 'Chespin',
       'Quilladin', 'Chesnaught', 'Fennekin', 'Braixen', 'Delphox',
       'Froakie', 'Frogadier', 'Greninja', 'Bunnelby', 'Diggersby',
       'Fletchling', 'Fletchinder', 'Talonflame', 'Scatterbug', 'Spewpa',
       'Vivillon', 'Litleo', 'Pyroar', 'FlabÃ©bÃ©', 'Floette', 'Florges',
       'Skiddo', 'Gogoat', 'Pancham', 'Pangoro', 'Furfrou', 'Espurr',
       'Meowstic', 'Honedge', 'Doublade', 'Aegislash', 'Spritzee',
       'Aromatisse', 'Swirlix', 'Slurpuff', 'Inkay', 'Malamar', 'Binacle',
       'Barbaracle', 'Skrelp', 'Dragalge', 'Clauncher', 'Clawitzer',
       'Helioptile', 'Heliolisk', 'Tyrunt', 'Tyrantrum', 'Amaura',
       'Aurorus', 'Sylveon', 'Hawlucha', 'Dedenne', 'Carbink', 'Goomy',
       'Sliggoo', 'Goodra', 'Klefki', 'Phantump', 'Trevenant', 'Pumpkaboo',
       'Gourgeist', 'Bergmite', 'Avalugg', 'Noibat', 'Noivern', 'Xerneas',
       'Yveltal', 'Zygarde', 'Diancie', 'Hoopa', 'Volcanion'], dtype=object)

In [21]:
pokemon.index

RangeIndex(start=0, stop=721, step=1)

In [22]:
pokemon.dtype

dtype('O')

In [23]:
pokemon.is_unique

True

In [24]:
google.is_unique

False

In [25]:
pokemon.ndim

1

### The .shape attribubte

In [26]:
pokemon.shape

(721,)

### The .size attribute

In [27]:
pokemon.size

721

### The name attribute

In [28]:
pokemon.name

'Pokemon'

In [30]:
pokemon.name="Pokemon Monsters"
pokemon.name

'Pokemon Monsters'

# Exploring Series Methods

In [39]:
prices = [2,3.45,1.24]

In [40]:
s = pd.Series(data=prices)
s

0    2.00
1    3.45
2    1.24
dtype: float64

##### The .sum() method

In [41]:
s.sum()

6.69

##### The .product() - method

In [42]:
s.product()

8.5560000000000009

In [43]:
s.mean()

2.23

##### The .sort_values() Method

In [33]:
pokemon.sort_values().head(5)

459    Abomasnow
62          Abra
358        Absol
616     Accelgor
680    Aegislash
Name: Pokemon Monsters, dtype: object

In [37]:
pokemon.sort_values(ascending=False).tail(5)

680    Aegislash
616     Accelgor
358        Absol
62          Abra
459    Abomasnow
Name: Pokemon Monsters, dtype: object

In [8]:
type(pokemon)

pandas.core.series.Series

### The inplace parameter

In [38]:
pokemon.sort_values().head(5)

459    Abomasnow
62          Abra
358        Absol
616     Accelgor
680    Aegislash
Name: Pokemon Monsters, dtype: object

In [41]:
pokemon.sort_values(inplace=True)

In [42]:
pokemon

459     Abomasnow
62           Abra
358         Absol
616      Accelgor
680     Aegislash
141    Aerodactyl
305        Aggron
189         Aipom
64       Alakazam
593     Alomomola
333       Altaria
697        Amaura
423       Ambipom
590     Amoonguss
180      Ampharos
346       Anorith
23          Arbok
58       Arcanine
492        Arceus
565        Archen
566      Archeops
167       Ariados
347       Armaldo
682    Aromatisse
303          Aron
143      Articuno
530        Audino
698       Aurorus
712       Avalugg
609          Axew
          ...
69     Weepinbell
109       Weezing
546    Whimsicott
543    Whirlipede
339      Whiscash
292       Whismur
39     Wigglytuff
277       Wingull
201     Wobbuffet
526        Woobat
193        Wooper
412      Wormadam
264       Wurmple
359        Wynaut
177          Xatu
715       Xerneas
561        Yamask
192         Yanma
468       Yanmega
716       Yveltal
334      Zangoose
144        Zapdos
522     Zebstrika
643        Zekrom
262     Zigzagoon
570       Zoroark
569         Zorua
40          Zubat
633      Zweilous
717       Zygarde
Name: Pokemon Monsters, Length: 721, dtype: object

##### The .sort_index() Method

### Extract Series values by Index Position

In [46]:
pokemon = pd.read_csv("pokemon.csv",usecols=["Pokemon"],squeeze=True)
google = pd.read_csv("google_stock_price.csv",squeeze=True)

In [48]:
pokemon.head(5)

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Pokemon, dtype: object

In [49]:
pokemon[3]

'Charmander'

In [51]:
pokemon[[0,1,3]]

0     Bulbasaur
1       Ivysaur
3    Charmander
Name: Pokemon, dtype: object

In [54]:
pokemon[0:4]

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
Name: Pokemon, dtype: object

In [68]:
pokemon[-15:-10]

706       Klefki
707     Phantump
708    Trevenant
709    Pumpkaboo
710    Gourgeist
Name: Pokemon, dtype: object

### Exploring Series Values by Index Label

In [78]:
pokemon = pd.read_csv("pokemon.csv",index_col="Pokemon",squeeze=True);

In [79]:
pokemon["Bulbasaur"]

'Grass'

In [80]:
pokemon[["Bulbasaur","Ditto"]]

Pokemon
Bulbasaur     Grass
Ditto        Normal
Name: Type, dtype: object

In [82]:
pokemon["Bulbasaur":"Pikachu"]

Pokemon
Bulbasaur        Grass
Ivysaur          Grass
Venusaur         Grass
Charmander        Fire
Charmeleon        Fire
Charizard         Fire
Squirtle         Water
Wartortle        Water
Blastoise        Water
Caterpie           Bug
Metapod            Bug
Butterfree         Bug
Weedle             Bug
Kakuna             Bug
Beedrill           Bug
Pidgey          Normal
Pidgeotto       Normal
Pidgeot         Normal
Rattata         Normal
Raticate        Normal
Spearow         Normal
Fearow          Normal
Ekans           Poison
Arbok           Poison
Pikachu       Electric
Name: Type, dtype: object

### The .get() Method on a Series

In [83]:
pokemon.get("Moltres")

'Fire'

In [84]:
pokemon.get(["Butterfree","Moltres"])

Pokemon
Butterfree     Bug
Moltres       Fire
Name: Type, dtype: object

In [86]:
pokemon.get(key="Moltres1",default="Key doesn't exist")

"Key doesn't exist"

### The idxmax() and .idxmin() Methods

In [87]:
google.max()

782.22000000000003

In [88]:
google.idxmax()

3011

In [90]:
google[3011]

782.22000000000003

### The .value_counts() Method

The .value_counts() method to count the number of the times each unique value occurs in a Series

In [92]:
pokemon = pd.read_csv("pokemon.csv",index_col="Pokemon",squeeze=True)

In [97]:
pokemon.value_counts()

Water       105
Normal       93
Grass        66
Bug          63
Psychic      47
Fire         47
Rock         41
Electric     36
Ground       30
Poison       28
Dark         28
Fighting     25
Dragon       24
Ghost        23
Ice          23
Steel        22
Fairy        17
Flying        3
Name: Type, dtype: int64

In [94]:
pokemon.value_counts().sum()

721

In [95]:
pokemon.count()

721

### The .apply() Method

 The .apply() method and feed it a Python function as an argument to use the function on every Series value.

In [101]:
google = pd.read_csv("google_stock_price.csv",squeeze=True)
google.head(5)

0    50.12
1    54.10
2    54.65
3    52.38
4    52.95
Name: Stock Price, dtype: float64

In [102]:
def classify_performance(number):
    if(number<400):
        return "OK"
    elif(number>=400 and number <600):
        return "Satisfactory"
    else:
        return "Incredible"

In [103]:
google.apply(classify_performance)

0               OK
1               OK
2               OK
3               OK
4               OK
5               OK
6               OK
7               OK
8               OK
9               OK
10              OK
11              OK
12              OK
13              OK
14              OK
15              OK
16              OK
17              OK
18              OK
19              OK
20              OK
21              OK
22              OK
23              OK
24              OK
25              OK
26              OK
27              OK
28              OK
29              OK
           ...
2982    Incredible
2983    Incredible
2984    Incredible
2985    Incredible
2986    Incredible
2987    Incredible
2988    Incredible
2989    Incredible
2990    Incredible
2991    Incredible
2992    Incredible
2993    Incredible
2994    Incredible
2995    Incredible
2996    Incredible
2997    Incredible
2998    Incredible
2999    Incredible
3000    Incredible
3001    Incredible
3002    Incredible
3003    Incredible
3004    Incredible
3005    Incredible
3006    Incredible
3007    Incredible
3008    Incredible
3009    Incredible
3010    Incredible
3011    Incredible
Name: Stock Price, Length: 3012, dtype: object

In [104]:
google.apply(lambda stock_price:stock_price+1)

0        51.12
1        55.10
2        55.65
3        53.38
4        53.95
5        54.90
6        54.02
7        51.95
8        52.13
9        51.07
10       51.70
11       50.95
12       51.74
13       52.10
14       52.10
15       53.61
16       54.70
17       56.69
18       56.94
19       57.93
20       59.69
21       60.62
22       59.86
23       60.13
24       61.35
25       60.86
26       60.07
27       64.37
28       66.47
29       65.74
         ...
2982    676.22
2983    669.26
2984    681.04
2985    685.11
2986    693.10
2987    700.21
2988    695.49
2989    698.77
2990    696.36
2991    706.63
2992    716.09
2993    721.64
2994    717.98
2995    721.95
2996    720.85
2997    734.78
2998    737.96
2999    742.19
3000    739.63
3001    743.74
3002    740.77
3003    739.42
3004    742.77
3005    746.91
3006    769.79
3007    773.88
3008    772.07
3009    774.18
3010    772.61
3011    783.22
Name: Stock Price, Length: 3012, dtype: float64

### The .map() Method
The .map() method to tie together the values from one object to another.

In [110]:
url = 'http://bit.ly/chiporders'
orders = pd.read_table(url)
len(orders)

4622

# Applying Python Built-In Functions to Series

In [9]:
weather_data_series = pd.read_csv("weather_data.csv",usecols=["event"],squeeze=True)

In [10]:
type(weather_data_series)

pandas.core.series.Series

In [42]:
len(weather_data_series)

6

In [28]:
sorted(weather_data_series)

['day', 'event']

In [43]:
list(weather_data_series)

['Rain', 'Sunny', 'Snow', 'Snow', 'Rain', 'Sunny']

In [44]:
weather_data_series

0     Rain
1    Sunny
2     Snow
3     Snow
4     Rain
5    Sunny
Name: event, dtype: object

In [45]:
# Generating dictionary from a series object
dict(weather_data_series)

{0: 'Rain', 1: 'Sunny', 2: 'Snow', 3: 'Snow', 4: 'Rain', 5: 'Sunny'}

In [46]:
max(weather_data_series)

'Sunny'

In [47]:
min(weather_data_series)

'Rain'

In [50]:
weather_data_series.head()

0     Rain
1    Sunny
2     Snow
3     Snow
4     Rain
Name: event, dtype: object